:root {
    --white: #afafaf;
    --red: #e31b23;
    --bodyColor: rgb(30, 30, 30);
    --borderFormEls: hsl(0, 0%, 4%);
    --bgFormEls: hsl(0, 0%, 14%);
    --bgFormElsFocus: hsl(0, 7%, 20%);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--bodyColor);
    color: var(--white);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    height: calc(100vh - 5rem);
    width: 70vw;
    min-height: 100vh;
    max-width: 500px;
    padding: 0 0.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav a {
    cursor: pointer;
}